.card-example {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  gap: 0.25rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.card-example:hover {
  background-color: lightsteelblue;
}

.card-example img {
  width: 4rem;
  height: 4rem;
}

.card-example div {
  display: flex;
  flex-direction: column;
}

.card-example div span:nth-child(1) {
  font-size: 1.5rem;
}

.card-example div span:nth-child(2) {
  font-size: 1rem;
}

.card-example-container {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .card-example-container {
    grid-template-columns: 1fr;
  }
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: beige;
  padding: 8px 12px;
  height: 80px;
}

.navbar_logo {
  display: flex;
  align-items: center;
  color: #39acaa;
}

.navbar_logo a {
  margin-left: 4px;
  font-size: 18px;
}

.navbar_menu {
  display: flex;
  list-style: none;
  font-size: 18px;
  background-color: aqua;
}

.navbar_menu li {
  padding: 8px 12px;
}

.navbar_menu li ul {
  position: absolute;
  width: 100%;
  top: 60px;
  left: 0px;
  background-color: red;
}

.navbar_menu li i {
  display: none;
}

.navbar_menu li ul {
  display: none;
}

.navbar_menu li:hover .submenu {
  display: block;
  z-index: 5;
}

.submenu {
  padding: 20px 80px 10px 80px;
}

.navbar_menu li li {
  display: block;
}

.navbar_toggle {
  display: none;
  position: absolute;
  right: 24px;
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .navbar_menu {
    display: none;
  }
  .navbar_menu li {
    width: 100%;
    margin-right: 4px;
    /* text-align: center; */
  }

  .navbar_menu li i {
    display: inline-block;
    margin-left: 4px;
  }

  .navbar_toggle {
    display: block;
  }

  .navbar_menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
