@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap");
@import "./component/btn.css";
@import "./css/color.css";
@import "./css/text.css";
@import "./component/card.css";

@import "./component/header.css";
@import "./component/timeline.css";
@import "./css/minseon.css";

body {
  font-family: "Noto Sans KR", sans-serif;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-4 {
  margin-top: 4rem;
}

.m-2 {
  margin: 2rem;
}

.m-4 {
  margin: 4rem;
}