/* 일반 */
.c-black {
  color: black;
}
.c-white {
  color: white;
}
.c-transparent {
  color: transparent;
}

/* 하나은행 공식 */
.c-h-green {
  color: #008485;
}
.c-h-red {
  color: #e90061;
}
.c-h-gold {
  color: #ad9a5f;
}
.c-h-silver {
  color: #b5b5b5;
}
.c-h-black {
  color: #000000;
}

/* 하나원큐에서 추출한 색깔 */
.c-red1 {
  color: #ed6a9e;
}
.c-red2 {
  color: #f25871;
}
.c-brown1 {
  color: #d99459;
}
.c-brown2 {
  color: #c0633a;
}
.c-green1 {
  color: #67c8c1;
}
.c-green2 {
  color: #9ed5c0;
}
.c-green3 {
  color: #31d1a0;
}
.c-blue1 {
  color: #95b0e5;
}
.c-blue2 {
  color: #6a78b5;
}
.c-blue3 {
  color: #5067e7;
}
.c-violet1 {
  color: #c39ff7;
}
.c-violet2 {
  color: #9c65ff;
}
.c-gray1 {
  color: #8a9bad;
}
.c-black1 {
  color: #373a4d;
}

/* #################################################### */
/* 일반 */
.b-black {
  background: black;
}
.b-white {
  background: white;
}
.b-transparent {
  background: transparent;
}

/* 하나은행 공식 */
.b-h-green {
  background: #008485;
}
.b-h-red {
  background: #e90061;
}
.b-h-gold {
  background: #ad9a5f;
}
.b-h-silver {
  background: #b5b5b5;
}
.b-h-black {
  background: #000000;
}

/* 하나원큐에서 추출한 색깔 */
.b-red1 {
  background: #ed6a9e;
}
.b-red2 {
  background: #f25871;
}
.b-brown1 {
  background: #d99459;
}
.b-brown2 {
  background: #c0633a;
}
.b-green1 {
  background: #67c8c1;
}
.b-green2 {
  background: #9ed5c0;
}
.b-green3 {
  background: #31d1a0;
}
.b-blue1 {
  background: #95b0e5;
}
.b-blue2 {
  background: #6a78b5;
}
.b-blue3 {
  background: #5067e7;
}
.b-violet1 {
  background: #c39ff7;
}
.b-violet2 {
  background: #9c65ff;
}
.b-gray1 {
  background: #8a9bad;
}
.b-black1 {
  background: #373a4d;
}
