.header-container {
  /* iPhone 가로 스크롤 방지 */
  overflow-x: hidden;
}

.global-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: calc(100% - 2rem);
  height: 44px;
  padding: 0 1rem;
}

.global-nav-links {
  display: flex;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.global-nav-links {
  justify-content: space-between;
}