@import "../global.css";

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.father {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.background-mj-white1 {
  background: #f1f4f6;
  opacity: 0;
  transition: all 1s;
}

.background-mj-white2 {
  background-color: #ffffff;
}

.mj-card1 {
  opacity: 0;
  transition: all 1s;
}

.container {
  opacity: 0;
  transition: all 1s;
}

.section-css {
  display: flex;
  padding: 100px 90px;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin-top: 90px;
}

.outerbox1 {
  display: flex;
  flex-direction: column;
  max-width: 1125px;
  height: fit-content;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.innerbox1 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  height: fit-content;
}

.imgbox {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
  gap: 10px;
}

.innerbox2 {
  display: flex;
  height: fit-content;
}

h2 {
  font-size: 4rem;
  font-weight: 900;
  color: #191f28;
}

.h2-css {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.card-head {
  color: #333d4b;
  font-weight: 900;
  font-size: 1.5rem;
  margin: 0;
}

.card-content {
  color: #4e5968;
  font-weight: 600;
  font-size: 1rem;
}

.item-icon {
  width: 80px;
  height: 80px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  align-items: center;
  border-radius: 20px;
}

.item:hover {
  background: #fafafa;
}

@media (max-width: 640px) {
  .grid {
    display: grid;
    justify-content: center;
    gap: 40px;
    width: 1125px;
    height: fit-content;
    padding: 16px 0px 40px;
  }
  .item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 22px 18px 24px 18px;
    gap: 30px;
    border-radius: 20px;
    align-items: flex-start;
    transition: background-color 0.2s ease;
    -webkit-box-align: center;
  }
}

@media (min-width: 641px) {
  .grid {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    gap: 40px;
    width: 1125px;
    height: fit-content;
    padding: 16px 0px 40px;
  }
  .item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 22px 18px 24px 18px;
    gap: 30px;
    border-radius: 20px;
    align-items: center;
    transition: background-color 0.2s ease;
    -webkit-box-align: center;
  }
}
